<!DOCTYPE html>
{% extends 'base.html' %}
{% set active_page = "datimeteo" %}
{% block content %}
{% if current_user.is_authenticated %}
<div id="overlay" class="overlay-off justify-content-center">
    <div id="textoverlay">
        <h1>In lavorazione</h1>
        <span>
            <div class="spinner-border" role="status">            
                <span class="visually-hidden">Loading...</span>
            </div>
        </span>        
        
    </div>
    <span>
        <div class="spinner-border" role="status">            
            <span class="visually-hidden">Loading...</span>
        </div>
    </span>
</div>
<div class="mb-3 mt-3">
    <label for="data" class="form-label">Ultima data d'analisi:</label>
    <p name="data">{{ ultima_data }}</p>
</div>
<form action="" method="POST">
    <div class="mb-3 mt-3">
        <label for="inizio" class="form-label">Data d'inizio:</label>
        <input type="date" class="form-control" id="inizio" placeholder="Inserisci data inizio analisi" name="inizio">
    </div>
    <div class="mb-3">
        <label for="fine" class="form-label">Data di fine:</label>
        <input type="date" class="form-control" id="fine" placeholder="Inserisci data fine analisi" name="fine">
    </div>    
    <button type="submit" class="btn btn-primary" onclick="on()">Submit</button>
</form>

<script>     
    function on() {
        document.getElementById("overlay").style.display = "block";
      }     
</script>
{% endif %}
{% endblock %}